html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    //color:
    //background-color: #ccc;
}

a {
    display: inline-block;
    text-decoration: none;
    outline: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-fluid {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
}

h1,
h2,
h3,
h4 {
    display: none;
}

p {
    margin: 0;
    padding-bottom: 20px;
    color: #888;
    font-size: 20px;
}